<div class="container">
  <div class="login col-6">
    <div class=" col-10 images">
      <img src="assets/images/logo.jpg" alt="logo">
    </div>
    <div class="col-10 input">
      <label for="email" class="form-label">Email.:</label>
      <input type="text" class="form-control" id="email" placeholder="Digite seu email.:">
    </div>
    <div class="col-10 input">
      <label for="password" class="form-label">Senha.:</label>
      <input type="password" class="form-control" id="password" placeholder="Digite sua senha.:">
    </div>
    <div class="col-10  button">
      <button class="btn btn-outline-primary col-sm-10">Entrar</button>
      <button class="btn btn-outline-secondary col-sm-10">cadastre-se</button>
    </div>
    <div class="col-10 forgot-password">
      <a href="#">Esqueci a senha</a>
    </div>
  </div>
</div>
